<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="playerOneNamePositionX" value="100"/>
    <add key="playerOneNamePositionY" value="600"/>
    <add key="playerOneImagePositionX" value="200"/>
    <add key="playerOneImagePositionY" value="200"/>
    <add key="playerTwoNamePositionX" value="840"/>
    <add key="playerTwoNamePositionY" value="600"/>
    <add key="playerTwoImagePositionX" value="740"/>
    <add key="playerTwoImagePositionY" value="200"/>
    <add key="FontName" value="Comic Sans MS"/>
    <add key="FontSize" value="12"/>
    <add key="FontColor" value="255,0,0"/>
  </appSettings>
</configuration>